@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Outfit;
}

select,input,textarea{
    border: 1px solid #c2c2c2;
    outline-color: #20a0eb;
    border-radius: 4px;
}

.active{
    background-color: #569fc9a4;
    border-color: #86b3c5;
}